@import 'tailwindcss';

@plugin '../js/lib/heroui.ts';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: 'Roboto', sans-serif;

  --color-info: #7877c6;
  --color-info-50: #ececff;
  --color-info-100: #c9c9ec;
  --color-info-200: #a6a5da;
  --color-info-300: #8281ca;
  --color-info-400: #5e5dba;
  --color-info-500: #4544a1;
  --color-info-600: #36357e;
  --color-info-700: #26265b;
  --color-info-800: #161739;
  --color-info-900: #070719;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility bg-linear-primary {
  @apply bg-linear-135 from-primary to-[#f7931e];
}

@layer base {
  h1 {
    @apply text-[2rem]/[1.25] font-bold;
  }

  h2 {
    @apply text-[1.5rem]/[1.3] font-bold;
  }

  h3 {
    @apply text-[1.25rem]/[1.4] font-semibold;
  }
}

body,
#app,
[data-overlay-container='true'] {
  @apply min-h-screen;
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-primary!;
}
